@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}
html, body {
  @apply bg-gray-50 text-gray-800;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}